@model List<Account>

<h2>Daftar Akun</h2>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Nama</th>
            <th>Email</th>
            <th>Telepon</th>
            <th>Alamat</th>
            <th>Role</th>
            <th>Tanggal Lahir</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
            <tr>
                <td>@account.Username</td>
                <td>@account.Name</td>
                <td>@account.Email</td>
                <td>@account.Telepon</td>
                <td>@account.Alamat</td>
                <td>@account.Role</td>
                <td>@account.TanggalLahir.ToShortDateString()</td>
                <td>
                    <img src="@Url.Content("~/upload/" + account.Foto)" alt="Foto" width="100" height="100" />
                </td>
            </tr>
        }
    </tbody>
</table>